<!DOCTYPE html>
<html>
  <head>
    <!-- You can pass parameters from your templates to your main template and insert them -->
    <title>{#insert title/}</title>
    <style type="text/css">
    .head {
      border-bottom: 1px solid black;
      margin-bottom: 1em;
    }
    .head div {
      display: inline-block;
      margin: 0.5em;
    }
    </style>
    {#insert moreStyles /}
    {#insert moreScripts /}
  </head>
  <body>
    <div class="head">
      <!-- You can make links to actions using the uri: namespace -->
      <div><a href="{uri:Todos.index}">Index</a></div>
      <div><a href="{uri:Todos.todos}">Todos</a></div>
    </div>
    <!-- This inserts the body of your templates -->
    {#insert /}
  </body>
</html>
