{@java.lang.String name}
{@java.lang.String value}
{@java.util.Map<java.lang.String,java.lang.String> values}
{@boolean nullable}
{@boolean multiple}
{@boolean required}

{#let val=inject:flash.get(name).or(value??)}
<select {#if multiple??}multiple{/if} class="form-control {#ifError name}is-invalid{/ifError}" name="{name}" {#if required??}required{/if}>
  {#if multiple??}
   {! this is a workaround for && not working below !}
  {#else if nullable??}
   <option {#if !val}selected{/if} value="">(None)</option>
  {/if}
  {#for opt in values}
   <option
    {#if multiple??} 
      {#if val.contains(opt.key)??}selected{/if}
    {#else}
      {#if val == opt.key}selected{/if}
    {/if}
    value="{opt.key}">{opt.value}</option>
  {/for}
</select>
{/let}